<br><br><br>
<h1>Shopping Cart  <small> That little bucket of joy</small></h1><br>


<!-- Item list-->
<div class="container">
    <div class="row" initial-scale="1" >
        <div class="col-sm-3"><br>
            <img class="img1" src="../../assets/coffee1.jpeg" alt=""><br><br><br>
        <h6 id="itemname">Name : Annapurna</h6>
        <p>Description : Beautum White Model<p>
            <p>Price : &#8377;&nbsp;331</p>
            Qty.<input type="number" id="qty"><br><br>
            &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
            <button type="button" class="btn btn-info">Checkout</button>
            
        </div>
        <div class="col-sm-3"><br>
                <img class="img1" src="../../assets/coffee2.jpeg" alt=""><br><br><br>
            <h6>Name : Huppme maida</h6>
            <p>Description : White creamic mug</p>
            <p>Price : &#8377;&nbsp;280</p>
            Qty.<input type="number" id="qty"><br><br>
            &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
            <button type="button" class="btn btn-info">Checkout</button>
        </div>
        <div class="col-sm-3"><br>
                <img class="img1" src="../../assets/coffee3.jpeg" alt=""><br><br><br>
            <h6 id="itemname">Name : Huppme maida</h6>
            <p>Description : Coffee mug creamic <p>
                    <p>Price : &#8377;&nbsp;270</p>
                    Qty.<input type="number" id="qty"><br><br>
                    &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                    <button type="button" class="btn btn-info">Checkout</button>
            </div>
            <div class="col-sm-3"><br>
                <img class="img1" src="../../assets/coffee4.jpeg" alt=""><br><br><br>
            <h6 id="itemname">Name : Huppme maida</h6>
            <p>Description : Coffee mug creamic<p>
                <p>Price : &#8377;&nbsp;339</p>
                Qty.<input type="number" id="qty"><br><br>
                &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                <button type="button" class="btn btn-info">checkout</button>
                
            </div>
             
    </div><br><br><br>
    <div class="row">
            <div class="col-sm-3">
                    <br><img class="img1" src="../../assets/lunch1.jpeg" alt=""><br><br>
                <h6 id="itemname">Name : Signoraware</h6>
                <p>Description : 2-container Lunch</p>
                <p>Price : &#8377;&nbsp;331</p>
                Qty.<input type="number" id="qty"><br><br>
                &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                <button type="button" class="btn btn-info">Checkout</button>
            </div>
            <div class="col-sm-3">
                    <br><img class="img1" src="../../assets/lunch2.jpeg" alt=""><br><br>
                <h6 id="itemname">Name : Milton</h6>
                <p>Description : 3-container Lunch</p>
                <p>Price : &#8377;&nbsp;280</p>
                Qty.<input type="number" id="qty"><br><br>
                &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                <button type="button" class="btn btn-info">Checkout</button>
            </div>
            <div class="col-sm-3">
                    <br><img class="img1" src="../../assets/lunch3.jpeg" alt=""><br><br>
                <h6 id="itemname">Name : Signoraware</h6>
                <p>Description : Stainless steel Lunch</p>
                <p>Price : &#8377;&nbsp;398 </p>
                Qty.<input type="number" id="qty"><br><br>
                &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                <button type="button" class="btn btn-info">Checkout</button>
                </div>
            <div class="col-sm-3">
                    <img class="img1" src="../../assets/lunch4.jpeg" alt=""><br><br><br>
                <h6 id="itemname">Name : Milton</h6>
                <p>Description : Flexi 3-container</p>
                <p> Price : &#8377;&nbsp;589 </p>
                Qty.<input type="number" id="qty"><br><br>
                &nbsp;<button type="button" class="btn btn-warning">Add to Cart</button>&nbsp;
                <button type="button" class="btn btn-info">Checkout</button>
    </div>

  </div>

